body{
font-family:'poppins',sansarif;
}
.sec{
  background:#90ddff;
  text-align:center;
  padding:20px;  
}
input{
  border:none;
  outline:none;
  padding:12px 16px;
  border-radius:3px;  
  font-size:14px;
  margin-bottom:5px;
}
button{
  border:none;
  outline:none;
  padding:12px 16px;
  background:#e0cfff;
  border-radius:3px;
  font-size:14px;
}
